.container {
  margin-bottom: 0.5rem;
  min-width: 700px;
  flex-wrap: nowrap;
  display: flex;
}

.position {
  flex-grow: 0;
  max-width: 8.33%;
  flex-basis: 8.33%;
  padding: 1rem;
  background-color: var(--white);
  color: var(--text);
  font-weight: 600;
  border-radius: 5px 0 0 5px;
  border-right: 2px solid var(--background);
  min-width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user {
  flex-grow: 0;
  max-width: 41.66%;
  flex-basis: 41.66%;
  padding: 1rem;

  background-color: var(--white);
  display: flex;
}

.user img {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
}

.userInfo {
  margin: 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.userInfo strong {
  color:var(--text-black);
  font-size: 1.25rem;
}

.userInfo svg {
  color:var(--green);
  margin-right: 0.5rem;
}

.userInfo span {
  flex-wrap: nowrap;
  margin-top: 1rem;
  color: var(--text);
  font-size: 1rem;
  font-weight: normal;
}

.challengedCompleted {
  flex-grow: 0;
  max-width: 25%;
  flex-basis: 25%;
  padding: 1rem;

  background-color: var(--white);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.challengedCompleted span {
  color: var(--blue-dark);
  margin-right: 1rem;
}

.experience {
  flex-grow: 0;
  max-width: 25%;
  flex-basis: 25%;
  padding: 1rem;
  border-radius: 0 5px 5px 0;
  background-color: var(--white);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.experience span {
  color: var(--blue-dark);
  margin-right: 1rem;
}
