.container {
  color: var(--text);
  font-weight: 600;
  min-width: 700px;

  display: flex;
  flex-wrap: nowrap;
}

.position {
  flex-grow: 0;
  max-width: 8.33%;
  flex-basis: 8.33%;
  margin-right: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.user {
  flex-grow: 0;
  max-width: 41.66%;
  flex-basis: 41.66%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.challengedCompleted {
  flex-grow: 0;
  max-width: 25%;
  flex-basis: 25%;
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.experience {
  flex-grow: 0;
  max-width: 25%;
  flex-basis: 25%;
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
