.container {
  width: 100%;
  border: 2px solid var(--background);
  display: flex;

  color: var(--text);
  font-weight: 600;
}

.position {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.user {
  width: 100%;
  min-width: 900px;
  margin-left: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.challengedCompleted {
  width: 100%;
  min-width: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.experience {
  width: 100%;
  padding: 1rem 4rem 1rem 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


@media(max-width: 1500px){
  .user {
    min-width: 600px
  }
  .challengedCompleted{
    min-width: 100px;
  }
}

@media(max-width: 1200px){
  .user,
  .challengedCompleted,
  .experience {
    min-width: 300px;
  }
}

@media(max-width: 720px){
  .container {
    min-width: 750px;
  }
  .user,
  .challengedCompleted,
  .experience {
    min-width: 100px
  }
  .challengedCompleted,
  .experience {
    margin-left: 2rem;
  }
}
