.container {
  width: 100%;
  border: 2px solid var(--background);
  display: flex;

  color: var(--text);
  font-weight: 600;
}

.position {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.user {
  flex:1;
  margin-left: 1rem;
  width: 60%;
  min-width: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.challengedCompleted {
  width: 20%;
  min-width: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.experience {
  padding: 1rem 4rem 1rem 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

