.container {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  max-width: 75%;
  padding: 2.5rem 2rem;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
}

.container h1 {
  width: 100%;
  color: #2E384D;
  font-weight: 500;
}
